-- Temporarily disable RLS for users table to fix signup issue
ALTER TABLE users DISABLE ROW LEVEL SECURITY;

-- Re-enable after testing (uncomment below when ready)
-- ALTER TABLE users ENABLE ROW LEVEL SECURITY;
